#{projectName}

| Welcome to #{projectName}!
= '\n'
= '\n'
| To the only place you can shop with ease! We're sure you will feel right at home shopping or selling.
= '\n'
= '\n'
| Activate Account: #{verifyURL}
= '\n'
= '\n'
| Contact Us #{contactUrl}
= '\n'
= '\n'
| © #{date} All Rights Reserved